body{
    padding: 0;
    background-color: #363636;
}
.ust{
    display: flex;
    padding: 0.1%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    width: 80%;height: 20%;
    background-color: #202020;
    margin: auto;
    position: relative;
    border:1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}
.govde{
    padding:0.1%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    width: 80%;height: 80%;
    background-color: #202020;
    margin: auto;
    position: relative;
    border:1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}
.elementdiv{
    margin: auto;
    width: fit-content;
}
.listoge{
    padding:0.1%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    width: 60%;height: 80%;
    background-color: #303030;
    margin: auto;
    position: relative;
    border:1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}
.sinirlayici{
    margin: auto;
    width: 50%;
    display: flex;
}
.yazilar{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
